{% extends 'base.html' %}
{% block content %}
<hr>
<center><h4>This the Create page.</h4>{{ time }}</center>
<hr>
<div class="form-group">
  <form action="{% url 'products:create' %}" method="POST" enctype="multipart/form-data" >
    {% csrf_token %}
    Title:
    <br>
    <input type="text" name="name"/>
    <br>
    Description:
    <br>
    <input type="text" name="body"/>
    <br>
    URL:
    <br>
    <input type="text" name="url"/>
    <br>
    Icon:
    <br>
    <input type="file" name="icon_pic"/>
    <br>
    Product:
    <br>
    <input type="file" name="product_pic"/>
    <br>
    <br>
    <input class='btn btn-primary' type="submit" name="submit" value="Create Product">
  </form>
  <br><br><br><br><br><br>
</div>


{% if error %}
<p>{{error}}</p>
<br>
{% endif %}
{% endblock %}
