{% extends 'base.html' %}
{% block content %}
<br>
<hr>
<center><h1>Home</h1></center>
<hr>
{% for products in products.all  %}
<div class="row pt-3">
  <div class="col-2" onclick="window.location='{% url 'products:detail' products.id %}';" style="cursor: pointer;">
    <img src="{{products.icon_pic.url}}" class="img-fluid">
  </div>
  <div class="col-6" onclick="window.location='{% url 'products:detail' products.id %}';" style="cursor: pointer;">
    <h2> {{products.name}}</h2>
    <h2> {{products.summary}}</h2>
  </div>
  <a href="javascript:{document.getElementById('upvote {{products.id}}').submit()}"><button class='btn btn-primary btn-lg btn-block' type="button" name="button"><span class="oi oi-caret-top"></span> Upvote {{products.votes_total}}</button></a>
</div>
<br><br>
<form id='upvote {{products.id}}'  method="POST" action="{% url 'products:upvote' products.id %}">
  {% csrf_token %}
  <input type="hidden" name="" value="">
</form>
{% endfor %}
<hr>
{{ time }}
  {% endblock %}
